@use "../custom" as *;
@use "../components/mixins" as *;

#main-footer{

    @include gradient-content;
    @include content-font;

    .footer-container{
        width: 100%;
    }

    #logo{
        background: $primary;
        width: 120px;
        height: auto;
        margin-top: 0.5rem;
    }

    a{
        margin-bottom: 0.7rem;
        margin-top: 0.5rem;
    }

    .custom-btn{
        display: flex;
        align-items: center;
        transition: 0.4s !important;
        border-radius: 10px;
    }

    .custom-btn:hover{
        background: rgba($color: #fff, $alpha: 1) !important;
        color: rgba($color: $primary, $alpha: 1.0) !important;
    }

    i{
        padding-left: 0.7rem;
    }

    #social{

        @include media-breakpoint-down(sm){
            padding: 1rem 1rem 0 1rem;
        }

        i{
            color: $secondary;
            transition: 0.4s !important;
            padding: 0.7rem;
        }

        i:hover{
            color: rgba($color: #ffff, $alpha: 1.0) !important;
        }

        .h4{
            color: #fff;
        }
    }

    #creator{

        @include media-breakpoint-down(sm){
            padding: 1rem 1rem 1rem 1rem;

            .c-title{
                font-size: 0.9rem !important;
            }

            .c-content{
                font-size: 0.6rem !important;
            }
        }

        .c-title{
            color:#fff;
            font-size: 1.2rem;
            font-weight: 700;
        }

        .c-content{
            color:#fff;
            font-size: 0.9rem;
            font-style: italic;
        }
    }

    #footer-logo{

        @include media-breakpoint-down(sm){
            padding: 1rem 1rem 0 1rem;
        }

    }
}