@use "../custom" as *;
@use "../components/mixins" as *;

#quotes{
    @include gradient-content;
    @include content-font;

    img{
        height: 250px;
        width: auto;
    }

    h2{
        font-weight: 700;
        color: #fff;
    }

    p{
        padding: 0.8rem;
        text-align: justify;
        color: #fff;
    }

    .custom-btn{
        display: flex;
        align-items: center;
        transition: 0.4s !important;
        border-radius: 10px;
    }

    .custom-btn:hover{
        background: rgba($color: #fff, $alpha: 1) !important;
        color: rgba($color: $primary, $alpha: 1.0) !important;
    }

    i{
        padding-left: 0.7rem;
    }

    blockquote{

        @include media-breakpoint-down(sm){
            font-size: 1rem;
        }

        footer{
            font-size: 0.9rem;
            color: aliceblue;
            padding-top: 1rem;

            @include media-breakpoint-down(sm){
                font-size: 0.7rem;
            }

        }

    }
}